name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Build
        run: ./gradlew shadowJar
      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: SeasonCore
          path: build/libs/*.jar
